body {
	background-color: olive;
	color: #fff;
}

<<<<<<< HEAD
/* -- Урок пятый. Сливаем ветки. Master-- */
h1 {
	font-size: 25px;
=======
/* -- Урок пятый. Сливаем ветки. Олива-- */
h1 {
	font-size: 30px;
>>>>>>> olive
}